body {
    margin: 0;
    background-color: #f2f1ef;
    padding: 3vw 5vw;
    font-family: "Pangolin", cursive;
}
h1 {
    font-weight: 600;
}
h2 {
    font-size: 1em;
    font-weight: 500;
}
h3 {
    font-size: 1em;
    font-weight: 500;
}

.todoInput {
    input {
        background-color: transparent;
        border-color: black;
        border-style: solid;
        border-radius: 0.3rem;
    }
    button {
        border-radius: 0.3rem;
        background-color: transparent;
        border-style: solid;
    }
}

.todo-list {
    ul {
        list-style-type: none;
    }
    button {
        border: 0;
        background-color: transparent;
        background-image: url('$lib/image/cross.png');
        background-size: contain;
        background-position: center;
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        cursor: pointer;
    }
    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        display: inline-block;
        width: 23px;
        height: 23px;
        vertical-align: middle;
        cursor: pointer;
        background-image: url('$lib/image/circle.png');
        background-size: contain;
        background-position: center;
    }
    input[type="checkbox"]:checked {
        background-image: url('$lib/image/checkbox.png');
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        cursor: pointer;
    }
    span.done {
            text-decoration: line-through;
            color: rgb(94, 92, 92);
        }
}